@model IEnumerable<PlusUltraContacts.Domain.Entities.Contact>

@{
    ViewData["Title"] = "Index";
    var contacts = Model;
    var rowCountTable1 = 1;
    var rowCountTable2 = 1;
    var cakeDay = false;
}


<div class="container">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-6 my-5">
            <h2 class="display-4">O presente que é bom <span class=" text-primary">lembrar</span> de trazer. xD</h2>
            <p class="lead">Aqui você pode ver todos os aniversariantes cadastrados e também fazer uma busca pelo nome</p>

            <form action="/Contacts/index" method="get" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar nome" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Buscar</button>
            </form>

        </div>
        <div class="col-md-6 d-none d-md-block" style="background: url(https://i.ibb.co/PhxZDjg/undraw-birthday-girl-n46w.png) no-repeat center center / contain; min-height: 300px;"></div>
    </div>
</div>

<div class="container">
    <a class="btn btn-primary text-white" href="/Contacts/Create" role="button"><i class="fas fa-plus-circle"></i> Cadastrar</a>
    <hr class="my-5" />
    <!--
    Tabela dos aniversariantes do dia
    -->
    <table class="table table-borderless table-hover cakeday">
        <thead>
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nome</th>
                <th scope="col">Celular</th>
                <th scope="col">Aniversário</th>
                <th scope="col">Detalhes</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var contact in contacts)
            {
            @if (contact.DayOfBirth.ToString("dd/MM") == DateTime.Now.ToString("dd/MM"))
                {
                    cakeDay = true;
            <tr>
                <th scope="row">@(rowCountTable1)</th>
                <td>@contact.Name</td>
                <td>@contact.Phone</td>
                <td>@contact.DayOfBirth.ToString("dd/MM/yyyy")</td>
                <td><a class="btn btn-success" href="/Contacts/Details?id=@contact.Id" role="button"><i class="fas fa-search-plus"></i> Ver</a></td>
                <td>
                    <a class="btn btn-primary" href="/Contacts/Edit?id=@contact.Id" role="button"><i class="fas fa-user-edit"></i> Editar</a>
                    <a class="btn btn-danger" href="/Contacts/Delete?id=@contact.Id" role="button"><i class="fas fa-minus-circle"></i> Remover</a>
                </td>
            </tr>
                    rowCountTable1++;
                }
            }


        </tbody>
    </table>

    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nome</th>
                <th scope="col">Celular</th>
                <th scope="col">Aniversário</th>
                <th scope="col">Detalhes</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var contact in contacts)
            {
            <tr>
                <th scope="row">@(rowCountTable2)</th>
                <td>@contact.Name</td>
                <td>@contact.Phone</td>
                <td>@contact.DayOfBirth.ToString("dd/MM/yyyy")</td>
                <td><a class="btn btn-success" href="/Contacts/Details?id=@contact.Id" role="button"><i class="fas fa-search-plus"></i> Ver</a></td>
                <td>
                    <a class="btn btn-primary" href="/Contacts/Edit?id=@contact.Id" role="button"><i class="fas fa-user-edit"></i> Editar</a>
                    <a class="btn btn-danger" href="/Contacts/Delete?id=@contact.Id" role="button"><i class="fas fa-minus-circle"></i> Remover</a>
                </td>
            </tr>
                rowCountTable2++;
            }
            @if (cakeDay == true)
{
            <style>
                .cakeday {
                    box-shadow: 0px 0px 60px -10px #4d21fc;
                    border-radius: 20px;
                    background-color: #6a44ff;
                    color: white;
                    margin-bottom: 60px;
                    margin-top: 80px;
                }
                .cakeday::before {
                    content: "PARABÉNS";
                    color: white;
                    font-style: italic;
                    text-align: center;
                    font-size: 1.75rem;
                    font-weight: bold;
                    margin: -111px auto;
                    position: absolute;
                    box-shadow: 0px 0px 0px 0px black;
                    padding: 10px 30px 29px 30px;
                    border-radius: 40px 40px 0px 0px;
                    background: #6a44ff;
                }
            </style>
}
            @if (cakeDay == false)
{
            <style>
                .cakeday {

                }
                .cakeday > thead {
                    display: none;
                }

                    .cakeday::before {
                        content: "Ninguem na lista faz aniversário";
                        color: black;
                        font-style: italic;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin: -80px auto;
                        left: calc(50% - 152px);
                        position: absolute;
                        padding: 20px 30px;
                        border-radius: 40px;
                        background: white;
                        box-shadow: 0px 0px 0px 1px #e5e5e5;
                    }

                .cakeday > thead {
                    line-height: 300%;
                }
            </style>
}
        </tbody>
    </table>
</div>
